# How to Set, Reset, and Use Indexes

# Topics Covered
- Setting a Column as a Raw_Index of a DataFrame using <b>df.set_index("column_name", inplace=True)</b>.
- See indexs with <b>df.index</b>
- Reset previous indexs with <b>df.reset_index(inplace=True)</b>
- Read full text of a block by selecting that block using <b>df.loc\["raw"\]\[index\] or df.loc\["raw","column"\] or df.at\["index","column"\]</b>
- Sort DataFrame by index with <b>df.sort_index(inplce=optionl)</b>
- Sort DataFrame by index in decending order <b>df.sort(ascending=False)</b>

In [1]:
import pandas as pd

In [2]:
data = {
    "name": ['Faraz', 'Ali', 'Sameer', 'Sarab'],
    "roll_number": [111,222,333,444],
    "email": ['faraz@example.com','ali@example.com','sameer@example.com','sarab@example.com']
}

In [25]:
df = pd.DataFrame(data)
df

     name  roll_number               email
0   Faraz          111   faraz@example.com
1     Ali          222     ali@example.com
2  Sameer          333  sameer@example.com
3   Sarab          444   sarab@example.com

In [26]:
df.set_index("email", inplace=True)
df

                      name  roll_number
email
faraz@example.com    Faraz          111
ali@example.com        Ali          222
sameer@example.com  Sameer          333
sarab@example.com    Sarab          444

In [29]:
df.reset_index(inplace=True)

In [30]:
df

                email    name  roll_number
0   faraz@example.com   Faraz          111
1     ali@example.com     Ali          222
2  sameer@example.com  Sameer          333
3   sarab@example.com   Sarab          444

In [35]:
path = r"E:\Project\Anaconda\csv\stackoverflow\survey_results_public.csv"
stack = pd.read_csv(path, index_col="Respondent")

In [38]:
path = r"E:\Project\Anaconda\csv\stackoverflow\survey_results_schema.csv"
schema = pd.read_csv(path, index_col="Column")
schema

                                                         QuestionText
Column
Respondent          Randomized respondent ID number (not in order ...
MainBranch          Which of the following options best describes ...
Hobbyist                                      Do you code as a hobby?
Age                 What is your age (in years)? If you prefer not...
Age1stCode          At what age did you write your first line of c...
...                                                               ...
WebframeWorkedWith  Which web frameworks have you done extensive d...
WelcomeChange       Compared to last year, how welcome do you feel...
WorkWeekHrs         On average, how many hours per week do you wor...
YearsCode           Including any education, how many years have y...
YearsCodePro        NOT including education, how many years have y...

[61 rows x 1 columns]

In [34]:
df_

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [43]:
schema.at["YearsCodePro","QuestionText"]

'NOT including education, how many years have you coded professionally (as a part of your work)?'

In [48]:
schema.sort_index(ascending=False)

                                                         QuestionText
Column
YearsCodePro        NOT including education, how many years have y...
YearsCode           Including any education, how many years have y...
WorkWeekHrs         On average, how many hours per week do you wor...
WelcomeChange       Compared to last year, how welcome do you feel...
WebframeWorkedWith  Which web frameworks have you done extensive d...
...                                                               ...
ConvertedComp       Salary converted to annual USD salaries using ...
CompTotal           What is your current total compensation (salar...
CompFreq             Is that compensation weekly, monthly, or yearly?
Age1stCode          At what age did you write your first line of c...
Age                 What is your age (in years)? If you prefer not...

[61 rows x 1 columns]

In [47]:
schema

                                                         QuestionText
Column
Respondent          Randomized respondent ID number (not in order ...
MainBranch          Which of the following options best describes ...
Hobbyist                                      Do you code as a hobby?
Age                 What is your age (in years)? If you prefer not...
Age1stCode          At what age did you write your first line of c...
...                                                               ...
WebframeWorkedWith  Which web frameworks have you done extensive d...
WelcomeChange       Compared to last year, how welcome do you feel...
WorkWeekHrs         On average, how many hours per week do you wor...
YearsCode           Including any education, how many years have y...
YearsCodePro        NOT including education, how many years have y...

[61 rows x 1 columns]